body{
    font-size: 18px;
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    min-height: 100vh;
    background: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-top{
    position: absolute;
    right: 50%;
    bottom: 50%;
}
.img-bottom{
    position: absolute;
    top: 50%;
    left: 50%;
}
.card{
    background: white;
    border-radius: 15px;
    overflow: hidden;
    width: 350px;
    text-align: center;
    line-height: 1.6;
    z-index: 2;
}
.victor{
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -18%;
}
.bottom{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    align-self: center;
    margin: 20px auto;
}
.act, .age, .city{
    color: hsl(227, 10%, 46%);
    font-weight: 400 !important;
    font-size: 10px;
    letter-spacing: 1px;
}
.number, .crest, .age{
    font-weight: 800;
    font-size: 18px;
}
hr{
    margin: 20px 0px;
    color: gray;
    height: 1px;
    background: #dcdcdc;
    border: none;
}
.city{
    font-size: 15px;
    margin: 5px;
}